@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;400;500;600;700;900&display=swap');

body {
  font-family: 'Noto Serif SC', 'Times New Roman', serif;
  max-width: 1000px;
  margin: 0 auto!important;
  background: rgb(248, 246, 235);
  color: rgb(73, 69, 69);
}

p {
  line-height: 180%;
  font-weight: 400;
}

header {
  font-weight: 300;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 640px) {
  nav {
    flex-direction: column;
  }
}

#__next {
  padding: 40px 80px 60px;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  min-height: 100vh;
}

@media screen and (max-width: 640px) {
  #__next {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.branding {
  padding: 20px 0;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.tagline {
  margin: 0;
  font-size: small;
  opacity: 0.6;
}

.logo:hover {
  opacity: 0.6;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
  justify-content: flex-end;
}

@media screen and (max-width: 640px) {
  .branding {
    text-align: center;
  }

  nav ul {
    justify-content: space-between;
  } 
}

nav ul li {
  padding: 0;
  margin: 0 25px;
  text-align: center;
}

nav ul li a {
  display: block;
  padding: 10px 0;
  opacity: 0.75;
  border-bottom: 1px solid transparent;
}

nav ul li.active a,
nav ul li a:hover {
  opacity: 1;
  border-bottom: 1px solid;
}

main {
  padding: 20px 0;
}

.main-header {
  display: flex;
  align-items: flex-start;
}

.breadcrumb {
  list-style: none;
  margin: 2.2em 0;
  padding: 0;
  white-space: nowrap;
}

.breadcrumb li {
  display: inline-block;
}

.breadcrumb li:after {
  display: inline-block;
  margin: 0 0.75em;
  content: '/';
  opacity: 0.4;
}

.breadcrumb a {
  opacity: 0.6;
}

.breadcrumb a:hover {
  opacity: 1;
}

.main-content p {
  text-indent: 2em;
}

.main-content img {
  display: block;
  width: 100%;
  height: auto;
}

.main-content .image .caption {
  margin: 10px 0;
  font-size: small;
  opacity: 0.6;
}

.main-content article header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content article header .post-meta {
  font-size: 1rem;
  line-height: 46px;
  font-weight: 300;
}

.main-content article header h2 a:hover {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {

  .main-content article header {
    flex-direction: column;
    align-items: flex-start;
  }

}

footer {
  padding: 20px 0;
  border-top: 1px solid #00000022;
}

@media screen and (max-width: 640px) {
  footer {
    text-align: center;
  }
}